<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
</head>

<body>
    <h1>My ToDo List</h1>

    <form action="/addItem/" method="post">{% csrf_token %}
        <input type="text" name="content">
        <input type="submit" value="Add">
    </form>

    <ul>
        {% for i in all_items %}
        <li>{{i.content}}</li>
        {% endfor %}
    </ul>         
</body>

</html>